name: Daily Publish
on:
  schedule:
      - cron: '0 0 * * *'
        workflow_dispatch:
        jobs:
          publish:
              runs-on: ubuntu-latest
                  steps:
                        - uses: actions/checkout@v3
                              - name: Publish
                                      run: |
                                                echo "Update $(date)" >> log.txt
                                                          git config user.name github-actions
                                                                    git config user.email github-actions@github.com
                                                                              git add .
                                                                                        git commit -m "Daily update"
                                                                                                  git push
                                                                                                  
